@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
:root{
    --blue:#3c6382;
    --dark-blue: #0a3d62;
}
/* The :root CSS pseudo-class matches the root element of a tree representing the document. */
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .3s cubic-bezier(.38,1.15,.7,1.12);
}

::selection{
    background:var(--blue);
    color: #fff;
}

body{
    background:#f9f9f9;
}

html{
font-size: 72.5%;
overflow-x:hidden;
}

/* header */
header{
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
position: fixed;
top:0;left: 0;
z-index: 1;
/* The z-index property specifies the stack order of an element.
An element with greater stack order is always in front of an element with a lower stack order */
padding: 2rem 2rem 2rem 2rem;
background: white ;
border-bottom: .1rem solid rgba(0,0,0,.1);
box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
  font-size: 2.5rem;
  color:var(--dark-blue);
}

header .navbar a{
font-size: 2rem;
margin: 10px 20px ;
padding: 0.5rem, 1rem;
border-radius:0.5rem;
color: var(--dark-blue);
align-items: right;
}

header .navbar a.activeLink,
header .navbar a:hover{
 background: var(--blue);
 color:white;
 box-shadow:0.5rem 1rem rgba(0,0,0,0.1);
 margin-right: 5px; 
}

.container {
    cursor: pointer;
    display: inline-block;
    cursor: pointer;
    font-size: 2rem;
    color:var(--blue);
    display: none;
  }
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color:var(--dark-blue);
    margin: 6px 0;
    transition: 0.4s;
  }
  
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

/* india section */
section{
  max-width: 1200px;
      margin: 0 auto;
}

.stats{
    width: 100%;
    background-size: cover;
    margin-top: 15px;
}

.latest-report{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width:80%;
      margin: 0 auto;
      padding-top: 100px;
}

.total-cases,
.active,
.recovered,
.deaths{
      height: 100px;
    }

.title{
    font-size: 1.6rem;
    color: #5d2e46;;
    font-weight: bolder;
    }

.value{
        font-size: 2em;
        font-weight:bold ;
    }

.total-cases .value{
      
      color: #c9184a;
    }

.active .value{
        color: #184e77;
      }
    
.recovered .value{
      color: #386641;
    }
    
.deaths .value{
    color:red;
    }

/* state wise Cases in tabular format  */
.last-updated{
    font-weight: bold;
    font-size:1.4rem;

}

.alert{
    font-weight: bold;
    font-size:1.4rem;
    width:fit-content;
    background-color: red;
    position: relative;
    animation-name:alertMessage;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-bottom: 5px;
}

@keyframes alertMessage {
  0%   {background-color:red; left:3rem; top:0px;}
  100%  {background-color:yellow; left:43rem; top:0px;}
}

/* table */
table {
    margin:auto;
    border: 2px solid black;
    border-radius: 14px;
    margin-bottom :50px;
}

tr{
    border: 2px solid black;
}

th{
    color:#9b2226 ;
    font-size: 1.6rem;
    background-color:rgb(252, 198, 176);
    font-weight: bolder;
}

td {
    font-size: 1.5rem;
    font-weight: bold;
    border: 2px solid white;
}

th,
td {
  border-radius: 9px;
    padding: 10px;
    text-align: center;   
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

/* footer section */
.footer{
  border-top: .1rem solid rgba(0,0,0,.1);
  background:url(../images/background-img.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color:var(--dark-blue);
}

.footer .box-container{
  display: flex;
  flex-wrap: wrap;
}

.footer .box-container .box{
  flex:1 1 20rem;
  margin:1rem;
  border-right: .1rem solid rgba(248, 245, 245, 0.1);
}

.footer .box-container .box h3{
  font-size: 2rem;
  color: wheat;
  padding:1rem 0;
}

.footer .box-container .box p{
  font-size: 1.3rem;
  color: white;
  padding:.5rem 0;
}

.footer .box-container .box a{
  font-size: 1.3rem;
  color: white;
  padding:.5rem 0;
 display: block;
  cursor: pointer;
}
.footer .box-container .quick_links a {
display:inline-table;
align-items:left;
width: 150px;
height: 30px;
justify-content:space-between;
}

.footer a:hover{
  text-decoration: underline;
}

.footer .credit{
  font-size: 1.7rem;
  font-weight: normal;
  text-align: center;
  border-top: .1rem solid rgba(248, 245, 245, 0.1);
  padding:2.5rem 1rem;
  color: white;
}

.footer .credit a{
  color:wheat;
}

/* scroll-top */
.scroll-top{
  position: fixed;
  bottom:5rem; right:1.5rem;
  z-index: 1000;
}

.scroll-top img{
  width:8rem;
  animation: float 3s linear infinite;
}

@keyframes float{
  100%, 0%{
      transform: translateY(0rem);
  }
  50%{
      transform: translateY(-3rem);
  }
}


/* media queries */
@media(max-width:1200px){

    html{
        font-size:55%;
        }

    table{
        margin: 10px
        };
  }

  @media(max-width:991px){
  
    .container{
      display: block;
  }

    header .navbar{
      position: absolute;
      top: 100%; left: 0;
      width: 100%;
      background: #fff;
      padding:2rem ;
      border-top: 0.1rem solid rgba(0,0,0,0.1);
      transform-origin: top;
      transform: scaleY(0);
      opacity: 0;
    }

    header .navbar a{
      display: block;
      margin: 1.5rem 0;
      font-size: 2rem;
    }

   header .navbar.nav-toggle{
    transform: scaleY(1);
    opacity: 1;
    }

  }

  @media(max-width:700px){

    .last-updated{
      font-size: 1.6rem;
    }

    th{
      font-size: 1.7rem;
      }

    td{
      font-size: 1.3rem;
    }

    .alert{
      animation-duration: 3s;
    }

    @keyframes alertMessage {
      0%   {background-color:red; left:3rem; top:0px;}
      100%  {background-color:yellow; left:20rem; top:0px;}

    }

  }

/* screen: Used for computer screens, tablets, smart-phones etc. */
@media screen and (max-width:600px){

    .alert{
      animation-duration: 1s;
    }

    @keyframes alertMessage {
      0%   {background-color:red; left:3rem; top:0px;}
      100%  {background-color:yellow;margin-right: 10px; left:5rem; top:0px;}
    }

  }
