@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
:root{
    --blue:#3c6382;
    --dark-blue: #0a3d62;
}
/* The :root CSS pseudo-class matches the root element of a tree representing the document. */
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .3s cubic-bezier(.38,1.15,.7,1.12);


}
::selection{
    background:var(--blue);
    color: #fff;

}

body{
    background:#f9f9f9;
}

/* section{
    min-height: 100vh;
    padding:0 7%;
    padding-top: 9rem;
} */

html{
font-size: 72.5%;
overflow-x:hidden;
}
header{
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
position: fixed;
top:0;left: 0;
z-index: 1;
/* The z-index property specifies the stack order of an element.
An element with greater stack order is always in front of an element with a lower stack order */
padding: 2rem 2rem 2rem 2rem;
/* margin-right: 1rem; */
background: white ;
}
header .logo{
  font-size: 2.5rem;
  color:var(--dark-blue);
}

header .navbar a{
font-size: 1.7rem;
margin: 10px 20px ;
padding: 0.5rem, 1rem;
border-radius:0.5rem;
color: var(--dark-blue);
align-items: right;
}

header .navbar a.active,
header .navbar a:hover{
 background: var(--blue);
 color:white;
 box-shadow:0.5rem 1rem rgba(0,0,0,0.1);
 /* /* margin-left:5px; */
 margin-right: 5px; 

}

section{
/* margin-top: 100px; */
max-width: 1200px;
    margin: 0 auto;
}


.container {
    
    cursor: pointer;
    display: inline-block;
    cursor: pointer;
    font-size: 2rem;
    color:var(--blue);

    /* display: none; */
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color:var(--dark-blue);
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
/* .hide{
    display: none;
} */
/* @keyframes fade{ 
    0%{
    opacity: 0;
    }
 

    100%{
        opacity: 1;
        }
    
}
.fadeIn{
animation: fade 0.5s ease-in-out;

} */
 

    .stats{
    width: 100%;
    /* height: 800px; */
  
    background-size: cover;
    margin-top: 15px;
    

    }
    .latest-report{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width:80%;
      margin: 0 auto;
      padding-top: 100px;
      /* background-color: rgb(51, 48, 48); */
    }
    .total-cases,
    .active,
    .recovered,
    .deaths{
      height: 100px;
    }
   
    
    .title{
    font-size: 1.6rem;
    /* color: #1d3557; */
    color: #5d2e46;;
    font-weight: bolder;
    }
    .value{
        /* padding-top: 6px; */
        font-size: 2em;
        font-weight:bold ;
    }
    .total-cases .value{
      
      color: #c9184a;
    }
    .active .value{
        color: #184e77;
      }
    .recovered .value{
      color: #386641;
    }
    .deaths .value{
    color:red;
    }
   
.last-updated{
    font-weight: bold;
    font-size:1.4rem;

}
table {
    margin:auto;
    border: 3px solid black;
    border-collapse: collapse;
}

th{
    color:#9b2226 ;
    font-size: 1.6rem;
    border-radius: 4px;
    background-color:rgb(252, 198, 176);
    /* background-color:rgb(209, 201, 201); */
  
}

td {
    font-size: 1.5rem;
}

th,
td {
    font-weight: bold;
    
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

  /* media queries */
  @media(max-width:1200px){
    html{
        font-size:55%;
        }
        table{
            margin: 10px
            
            
                  };
  }
  @media(max-width:991px){
   .container{
       display: block;
   }
   header .navbar{
     position: absolute;
     top: 100%; left: 0;
     width: 100%;
     background: #fff;
    padding:2rem ;
    border-top: 0.1rem solid rgba(0,0,0,0.1);
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;

   }
   header .navbar a{
       display: block;
       margin: 1.5rem 0;
       font-size: 2rem;
   }
   header .navbar.nav-toggle{
    transform: scaleY(1);
    opacity: 1;
}

  }

  @media(max-width:700px){
    .last-updated{
        font-size: 1.6rem;
    }
      th{
        font-size: 1.7rem;
      }
td{
    font-size: 1.3rem;
}
  }
  /* screen: Used for computer screens, tablets, smart-phones etc. */
  /* @media screen and (max-width:600px){
    .latest-report{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    } */

